@import 'foundation/variable';
@import 'foundation/mixin';
@import 'foundation/presets';
@import 'layouts/common';
@import 'layouts/sparki_select';


/*-------------------------------------
-------------------------------------*/ 
@import 'layouts/toolbar';
/*-------------------------------------
-------------------------------------*/ 
@import 'layouts/header_navigation';
/*-------------------------------------
-------------------------------------*/ 
@import 'layouts/sparkti_banner';
/*-------------------------------------
-------------------------------------*/ 
@import 'layouts/sparkti_add_section';
/*-------------------------------------
-------------------------------------*/
@import 'layouts/sparkti_section_title';
/*-------------------------------------
-------------------------------------*/
@import 'layouts/sparkti_popular_products';
/*-------------------------------------
-------------------------------------*/ 
@import 'layouts/sparkti_available_products';
/*-------------------------------------
-------------------------------------*/ 
@import 'layouts/sparkti_vertical_products';
/*-------------------------------------
-------------------------------------*/ 
@import 'layouts/sparkti_top_rated_seller';
/*-------------------------------------
-------------------------------------*/ 
@import 'layouts/sparkti_weekly_deals';
/*-------------------------------------
-------------------------------------*/ 
@import 'layouts/sparkti_subscription';
/*-------------------------------------
-------------------------------------*/ 
@import 'layouts/sparkti_blog';
/*-------------------------------------
-------------------------------------*/ 
@import 'layouts/sparkti_recommended_products';
/*-------------------------------------
-------------------------------------*/ 
@import 'layouts/sparkti_testimonial_app';
/*-------------------------------------
-------------------------------------*/ 
@import 'layouts/sparkti_today_best_product';
/*-------------------------------------
-------------------------------------*/ 
@import 'layouts/sparkti_popular_search';
/*-------------------------------------
-------------------------------------*/ 
.sparkti_offcanvas_navigation{
    width: 243px;
    height: 100vh;
    background: $cff;
    position: fixed;
    top: 0;
    left: -100%;
    @include transition(.40s);
    box-shadow: 0px 2px 5px rgba(0,0,0,.30);
}
.sparkti_offcanvas_navigation.show{
    left: 0;
}
/*-------------------------------------
-------------------------------------*/ 
.sparkti_breadcrumb{
    border-bottom: 1px solid $ce1e;
    border-top: 1px solid $ce1e;
    padding: 20px 0;
    background: $cff;
    &__inner{
        .sparkti_breadcrumb_menu{
            @include flexDirection(row);
            justify-content: flex-start;
            padding-left: 0;
            margin-bottom: 0;
            li{
                position: relative;
                &:not(:last-child){
                    margin-right: 30px;
                    &::after{
                        content: "\f054";
                        position: absolute;
                        right: -21px;
                        top: 50%;
                        transform: translateY(-50%);
                        color: $cac;
                        font-family:'Line Awesome Free';
                        font-weight: 700;
                    }
                }
                
                a{
                    margin-right: 0;
                    font-size: $fz13;
                    color: $c63;
                    font-family: $rubik;
                }
                span{
                    color: $cac;
                }
            }
        }
    }
}
/*-------------------------------------
-------------------------------------*/ 
.sparkti_single_product_details{
    .sparkti_best_deal_carousel_area{
        @include flexDirection(row);
        align-items: flex-start;
        .sparkti_best_deal__content_carousel{
            .sparkti_best_deal__content_carousel_image{}
                .sparkti_best_deal__content_carousel_content{
                    .sparkti_deals_title{
                        
                        h4{
                            font-size: $fz28;
                            color: $c36;
                        }
                    }
                    .sparkti_product_rating{
                        i{
                            color: $cf7ad;
                            font-size: $fz12;
                        }
                        .sparkti_product_reviews{
                            font-size: $fz13;
                            color: $c63;
                            display: inline-block;
                            padding-left: 10px;
                        }
                        .product_vendors{
                            display: inline-block;
                            font-size: $fz13;
                            color: $cac;
                            margin-left: 60px;
                            &:hover{
                                color: $cac;
                            }
                            span{
                                color: $c79a7;
                            }
                        }
                    }
                    .today_deals_product_pricing_supplier{
                        .today_deals_product_pricing{
                            font-size: $fz24;
                            span{}
                            del{
                                font-size: $fz16;
                            }
                        }
                        .sparkti_question{
                            color: $c63;
                            font-size: $fz12;
                            padding: 10px 20px;
                            border: 1px solid $ce1e;
                            border-radius: 3px;
                        }
                    }
                    .sparkti_product_features{
                        border-top: 1px solid $ce1e;
                        border-bottom: 1px solid $ce1e;
                        padding-bottom: 20px;
                        padding-top: 20px;
                        ul{
                            padding-left: 0;
                            margin-bottom: 20px;
                            li{
                                font-size: $fz14;
                                color: $c63;
                                padding-left: 15px;
                                position: relative;
                                &:not(:last-child){
                                    margin-bottom: 8px;
                                }
                                &::before{
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    width: 4px;
                                    height: 4px;
                                    background: $c737;
                                }
                            }
                        }
                        .sparkti_product_status{
                            font-size: $fz13;
                            color: $c63;
                            span{
                                font-weight: $bold;
                                font-family: $assistant;
                                color: $c8dc6;
                            }

                        }
                        .sparkti_product_brand{
                            font-size: $fz13;
                            color: $c63;
                            display: inline-block;
                            margin-left: 55px;
                            a{
                                color: $c79a7;
                            }
                        }
                    }
                    .sparkti_product_shopping_cart_options{
                        margin-bottom: 10px;
                        border-bottom: 1px solid $ce1e;
                        @include flexDirection(row);
                        justify-content: flex-start;
                        &__quantity{
                            .shopping_cart_options_minus{}
                            .shopping_cart_options_display{}
                            .shopping_cart_options_minus{}
                        }
                        .sparkti_btn{

                        }
                        .sparkti_wishlist_btn{}
                        .sparkti_shopping_reset_btn{}
                    }
                    .sparkti_single_product_id{
                        margin-bottom: 10px;
                        color: $cac;
                        text-transform: uppercase;
                        font-size: $fz13;
                        span{
                            color: $c63;
                        }
                    }
                    .sparkti_single_product_category{
                        margin-bottom: 10px;
                        font-size: $fz13;
                        span{
                            color: $c63;
                        }
                        a{
                            color: $c79a7;
                        }
                    }
                    .sparkti_product_tags{
                        margin-bottom: 10px;
                        font-size: $fz13;
                        span{
                            color: $c63;
                        }
                        a{
                            color: $cac;
                        }
                    }
                    .sparkti_social_icon_container{
                        .sparkti_social_icon{
                            @include inlineFlex;
                            li{
                                &:not(:last-child){
                                    margin-right: 20px;
                                }
                                a{
                                    height: 40px;
                                    width: 40px;
                                    i{
                                        font-size: $fz24;
                                    }
                                }
                            }
                        }
                    }

                }
        }
    }
}
/*-------------------------------------
-------------------------------------*/ 
.sparkti_page_description{
    padding: 45px 0 45px 0;
    background-color: $cff;
    .sparkti_page_description_inner{
        h3{
            color: $assistant;
            font-size: $fz28;
            margin-bottom: 15px;
            color: $c36;
        }
        p{
            color: $c63;
            font-size: $fz14;
        }
    }
}
/*-------------------------------------
-------------------------------------*/ 
.sparkti_blog_area{
    padding-bottom: 80px;
    background: $cff;
    .sparkti_sidebar{
        .sparkti_sidebar_widget{
            margin-bottom: 50px;
            .sparkti_widget_title{
                color: $c252;
                font-size: $fz18;
                margin-bottom: 20px;
            }
            &.sparkti_sidebar_search{
                .input-group{
                    .form-control{
                        border: 1px solid $cebeb;
                        line-height: 40px;
                        height: 40px;
                    }
                    .input-group-append{
                        position: absolute;
                        right: 10px;
                        z-index: 9;
                        .sparkti_button{
                            background: transparent;
                            color: $c737;
                            font-size: $fz18;
                            border: none;
                            line-height: 40px;
                            height: 40px;
                        }
                    }
                }
            }
            &.sparkti_cat{
                .card{
                    border: 2px solid $cebeb;
                    border-radius: 0 !important;
                    // padding: 15px  12px 0 20px;
                    .sparkti_categories_head{
                        color: $c63;
                        font-size: $fz14;
                        background: transparent;
                        border: none;
                        text-align: left;
                        padding: 12px 12px 12px 20px;
                    }
                    &:not(:last-child){
                        margin-bottom: 10px;
                    }
                    .sparkti_categories_list{
                        padding: 5px 12px 12px 20px;
                        a{
                            font-size: $fz14;
                            font-family: $rubik;
                            color: $c63;
                            display: block;
                            &:not(:last-child){
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
                
            }
            &.sparkti_social_icon{
                a{
                    height: 45px;
                    width: 45px;
                    @include inlineFlex;
                    align-items: center;
                    justify-content: center;
                    font-size: $fz22;
                    color: $cff;
                    margin-right: 8px;
                    margin-bottom: 8px;
                }
            }
            &.sparkti_tags{
                a{
                    color: $c63;
                    background: $cf7f7;
                    font-size: $fz13;
                    border: 1px solid $ce1e !important;
                    padding: 7px 10px;
                    margin-right: 7px;
                    margin-bottom: 7px;
                    @include inlineFlex;
                    border-radius: 3px;
                }
            }
            &.sparkti_recent_post{
                ul{
                    padding-left: 0;
                    li{
                        display: flex;
                        .sparkti_post_date{
                            font-size: $fz14;
                            font-weight: $light;
                            font-family: $rubik;
                            color: $cebeb;
                            .sparkti_post_date_day{
                                font-size: $fz28;
                                font-weight: $medium;
                                display: block;
                            }
                        }
                        .sparkti_recent_post_content{
                            margin-left: 25px;
                            a{
                                margin-bottom: 20px;
                                display: block;
                                h6{
                                    margin-bottom: 00px;
                                    font-weight: $medium;
                                    font-family: $rubik;
                                    color: $c36;
                                }
                            }
                            .post_author{
                                font-size: $fz12;
                                color: $cac;
                                font-family: $rubik;
                                a{
                                    display: inline-block;
                                    color: $c7474;
                                    margin-bottom: 0;
                                }
                            }
                        }
                        &:not(:last-child){
                            margin-bottom: 25px;
                        }
                    }
                }
            }
        }
    }
    .sparkti_blog_container{
        .sparkti_blog_single_item{
            position: relative;
            margin-bottom: 70px;
            @include flexDirection(row);
            &:nth-child(odd){
                @include flexDirection(row-reverse);
                .sparkti_blog_single_content{
                    margin-right: 65px;
                    margin-left: 0;
                }
            }
            .sparkti_blog_single_image{
                img{}
            }
            .sparkti_blog_single_content{
                margin-left: 65px;
                .sparkti_post_date{
                    display: none;
                    .sparkti_post_date_day{}
                }
                .sparkti_blog_single_title{
                    display: block;
                    margin-bottom: 15px;
                    h4{
                        font-size: $fz24;
                        color: $c36;
                    }
                }
                p{
                    font-size: $fz14;
                    color: $c63;
                    font-family: $rubik;
                    margin-bottom: 0;
                    line-height: 26px;
                }
                .sparkti_blog_tags{
                    @include flexDirection(row);
                    justify-content: flex-start;
                    padding: 20px 0 25px 0;
                    i{
                        font-size: $fz18;
                        color: $c252;
                        display: inline-block;
                        margin-right: 7px;
                    }
                    a{
                        font-size: $fz12;
                        font-family: $rubik;
                        color: $cac;
                    }
                }
                .sparkti_btn{
                    @include btn_content(32px,20px,12px); 
                    background: $c7474;
                    color: $cff;
                }
            }
            &:first-child{
                padding-left: 210px;
                .sparkti_blog_single_image{
                    img{
                        height: calc(100% + 30px);
                    }
                }
                .sparkti_blog_single_content{
                    border: 4px solid $ce1e;
                    position: absolute;
                    bottom: 20px;
                    max-width: calc(228px + 80px);
                    padding: 40px 30px 40px 30px;
                    left: 0;
                    background: $cff;
                    .sparkti_post_date{
                        display: block;
                        position: absolute;
                        bottom: calc(100% + 20px);
                        font-size: $fz40;
                        font-weight: $light;
                        font-family: $rubik;
                        color: $cebeb;
                        margin-bottom: 0;
                        line-height: 40px;
                        .sparkti_post_date_day{
                            font-family: $rubik;
                            font-size: $fz70;
                            font-weight: $medium;
                            line-height: 60px;
                            margin-bottom: 0;
                            display: block;
                        }
                    }
                }
            }
            
            
        }
    }
    .sparkti_pagination{

    }
}
/*-------------------------------------
-------------------------------------*/ 
.sparkti_pagination{
    @include flexDirection(row);
    .sparkti_pagination_item{
        height: 35px;
        width: 35px;
        color: $c7474;
        font-size: $fz14;
        box-shadow: 0px 3px 3px rgba(0,0,0,.10);
        border-radius: 3px;
        @include inlineFlex;
        @include transition(.40s);
        &.active{
            background: $c68a8;
            color: $cff;
        }
        &:hover{
            @extend .active;
        }
        &:not(:last-child){
            margin-right: 8px;
        }
        &.sparkti_prev{
            i{}
        }
        &.sparkti_next{
            i{}
        }
    }
}
/*-------------------------------------
-------------------------------------*/ 

/*-------------------------------------
-------------------------------------*/ 

/*-------------------------------------
-------------------------------------*/ 

/*-------------------------------------
-------------------------------------*/ 