.sparkti_popular_search{
    background: $cff;
    padding-top: 70px;
    padding-bottom: 70px;
    .sparkti_section_title{
        margin-bottom: 30px;
    }
    .sparkti_popular_search__container{
        @include flexDirection(row);
        flex-wrap: wrap;
        .sparkti_popular_search_item{
            flex: 0 0 calc(16.66% - 16px);
            max-width: calc(16.66% - 16px);
            margin: 6px 8px 6px 8px;
            @include respond-to(mdm){
                flex: 0 0 calc(25% - 16px);
                max-width: calc(25% - 16px);
            }
            @include respond-to(allsmall){
                flex: 0 0 calc(50% - 16px);
                max-width: calc(50% - 16px);
            }
            @include respond-to(little){
                flex: 0 0 calc(100% - 16px);
                max-width: calc(100% - 16px);
            }
            a{
                display: block;
                padding: 18px 30px;
                background: $c252;
                color: $cff;
                text-align: center;
                font-family: $rubik;
                font-size: $fz14;
                box-shadow: 0px 2px 0px rgba($c252,.20);
                border-radius: 4px;
                width: 100%;
                @include respond-to(larage) {
                    padding: 12px 15px;
                    font-size: $fz12;
                }

            }
        }
    }
}