.sparkti_scroll_top{
    position: fixed;
    bottom: 95px;
    right: 30px;
    text-align: center;
    display: none;
    cursor: pointer;
    i{
        position: static;
        left: 50%;
        font-size: 16px;
        color: #a2a2a2;
    }
    span{
        background: $cf1;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-size: 14px;
        margin-top: 5px;
    }
}