.sparkti_recommended_products{
    padding-top: 35px;
    background: $cff;
    margin-bottom: 40px;
    margin-top: 40px;
    .popular_products_item{
        @include popular_products_item;
        border: 1px solid $ce1e;
        padding: 15px;
        margin-bottom: 30px;
    }
}