.sparkti_blog_area{
    padding-bottom: 80px;
    background: $cff;
    .sparkti_sidebar{
        .sparkti_sidebar_widget{
            margin-bottom: 50px;
            .sparkti_widget_title{
                color: $c252;
                font-size: $fz18;
                margin-bottom: 20px;
            }
            &.sparkti_sidebar_search{
                .input-group{
                    .form-control{
                        border: 1px solid $cebeb;
                        line-height: 40px;
                        height: 40px;
                    }
                    .input-group-append{
                        position: absolute;
                        right: 10px;
                        z-index: 9;
                        .sparkti_button{
                            background: transparent;
                            color: $c737;
                            font-size: $fz18;
                            border: none;
                            line-height: 40px;
                            height: 40px;
                        }
                    }
                }
            }
            &.sparkti_cat{
                .card{
                    border: 2px solid $cebeb;
                    border-radius: 0 !important;
                    // padding: 15px  12px 0 20px;
                    .sparkti_categories_head{
                        color: $c63;
                        font-size: $fz14;
                        background: transparent;
                        border: none;
                        text-align: left;
                        padding: 12px 12px 12px 20px;
                    }
                    &:not(:last-child){
                        margin-bottom: 10px;
                    }
                    .sparkti_categories_list{
                        padding: 5px 12px 12px 20px;
                        a{
                            font-size: $fz14;
                            font-family: $rubik;
                            color: $c63;
                            display: block;
                            &:not(:last-child){
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
                
            }
            &.sparkti_social_icon{
                a{
                    height: 45px;
                    width: 45px;
                    @include inlineFlex;
                    align-items: center;
                    justify-content: center;
                    font-size: $fz22;
                    color: $cff;
                    margin-right: 8px;
                    margin-bottom: 8px;
                }
            }
            &.sparkti_tags{
                a{
                    color: $c63;
                    background: $cf7f7;
                    font-size: $fz13;
                    border: 1px solid $ce1e !important;
                    padding: 7px 10px;
                    margin-right: 7px;
                    margin-bottom: 7px;
                    @include inlineFlex;
                    border-radius: 3px;
                }
            }
            &.sparkti_recent_post{
                ul{
                    padding-left: 0;
                    li{
                        display: flex;
                        .sparkti_post_date{
                            font-size: $fz14;
                            font-weight: $light;
                            font-family: $rubik;
                            color: $cebeb;
                            .sparkti_post_date_day{
                                font-size: $fz28;
                                font-weight: $medium;
                                display: block;
                            }
                        }
                        .sparkti_recent_post_content{
                            margin-left: 25px;
                            a{
                                margin-bottom: 20px;
                                display: block;
                                h6{
                                    margin-bottom: 00px;
                                    font-weight: $medium;
                                    font-family: $rubik;
                                    color: $c36;
                                }
                            }
                            .post_author{
                                font-size: $fz12;
                                color: $cac;
                                font-family: $rubik;
                                a{
                                    display: inline-block;
                                    color: $c7474;
                                    margin-bottom: 0;
                                }
                            }
                        }
                        &:not(:last-child){
                            margin-bottom: 25px;
                        }
                    }
                }
            }
        }
    }
    .sparkti_blog_container{
        .sparkti_blog_single_item{
            position: relative;
            margin-bottom: 70px;
            @include flexDirection(row);
            &:nth-child(odd){
                @include flexDirection(row-reverse);
                .sparkti_blog_single_content{
                    margin-right: 65px;
                    margin-left: 0;
                }
            }
            .sparkti_blog_single_image{
                img{}
            }
            .sparkti_blog_single_content{
                margin-left: 65px;
                .sparkti_post_date{
                    display: none;
                    .sparkti_post_date_day{}
                }
                .sparkti_blog_single_title{
                    display: block;
                    margin-bottom: 15px;
                    h4{
                        font-size: $fz24;
                        color: $c36;
                    }
                }
                p{
                    font-size: $fz14;
                    color: $c63;
                    font-family: $rubik;
                    margin-bottom: 0;
                    line-height: 26px;
                }
                .sparkti_blog_tags{
                    @include flexDirection(row);
                    justify-content: flex-start;
                    padding: 20px 0 25px 0;
                    i{
                        font-size: $fz18;
                        color: $c252;
                        display: inline-block;
                        margin-right: 7px;
                    }
                    a{
                        font-size: $fz12;
                        font-family: $rubik;
                        color: $cac;
                    }
                }
                .sparkti_btn{
                    @include btn_content(32px,20px,12px); 
                    background: $c7474;
                    color: $cff;
                }
            }
            &:first-child{
                padding-left: 210px;
                .sparkti_blog_single_image{
                    img{
                        height: calc(100% + 30px);
                    }
                }
                .sparkti_blog_single_content{
                    border: 4px solid $ce1e;
                    position: absolute;
                    bottom: 20px;
                    max-width: calc(228px + 80px);
                    padding: 40px 30px 40px 30px;
                    left: 0;
                    background: $cff;
                    .sparkti_post_date{
                        display: block;
                        position: absolute;
                        bottom: calc(100% + 20px);
                        font-size: $fz40;
                        font-weight: $light;
                        font-family: $rubik;
                        color: $cebeb;
                        margin-bottom: 0;
                        line-height: 40px;
                        .sparkti_post_date_day{
                            font-family: $rubik;
                            font-size: $fz70;
                            font-weight: $medium;
                            line-height: 60px;
                            margin-bottom: 0;
                            display: block;
                        }
                    }
                }
            }
            
            
        }
    }
    .sparkti_pagination{

    }
}