
.product_cart_range_options{
    .weekly_deals_product_stock_cart{
        @include flexDirection(row);
        justify-content: space-between;
        margin-bottom: 5px;
        .weekly_deals_product_stock_range{
            height: 5px;
            position: relative;
            width: 100%;
            background: $cebeb;
            &__bar{
                width: 100%;
                background: $cf1;
                position: absolute;
                height: 100%;
            }
        }
        .weekly_deals_product_cart{
            @include inlineFlex;
            margin-left: 40px;
            a{
                i{
                    color: $cac;
                    font-size: $fz22;
                }
            }
        }
    }
    .weekly_deals_product_stock_cart_info{
        span{
            font-weight: $rubik;
            font-size: $fz12;
            color: $c63;
            @include inlineFlex;
            &:not(:last-child){
                margin-right: 7px;
            }
        }
    }
}
.sparkti_deals_category{
    font-size: $fz12;
    color: $cac;

}

.sparkti_deals_product_title{
    margin-bottom: 12px;
    margin-top: 7px;
    display: block;
    h6{
        font-weight: $medium;
        font-size: $fz14;
        color: $c6c8;
        font-family: $rubik;
    }
}

.weekly_deals_product_pricing{
    span{
        color: $cf1;
        font-size: $fz16;
        font-weight: $bold;
        font-family: $assistant;
    }
    del{
        @extend span;
        font-size: $fz14;
        color: $c252;
    }
}

.product_vendors{
    color: $c737;
    font-size: $fz12;
    span{
        color: $cac;
    }
}

.sparkti_weekly_deals{
    background: $cff;
    margin-top: 70px;
    padding-top: 70px;
    &__item{
        @include flexDirection(row);
        margin-bottom: 50px;
        align-items: flex-start;
        @include respond-to(mdm){
            flex-flow: column;
        }
        .sparkti_weekly_deals_image{}
        .sparkti_weekly_deals_content{
            margin-left: 20px;
            flex: 1;
            @include respond-to(mdm){
                margin-left: 0;
            }
            .sparkti_deals_category{
                @extend .sparkti_deals_category;

            }
            .sparkti_deals_product_title{
               @extend .sparkti_deals_product_title;
            }
            .weekly_deals_product_pricing_supplier{
                @include flexDirection(row);
                justify-content: space-between;
                margin-bottom: 10px;
                .weekly_deals_product_pricing{
                    @extend .weekly_deals_product_pricing;
                }
                .product_vendors{
                    @extend .product_vendors;
                }
            }
            .product_cart_range_options{
                @extend .product_cart_range_options;
            }
        }
    }
}