.sparkti_add_section{
    background: $cefe;
    padding-top: 30px;
    padding-bottom: 30px;
    .sparkti_add_section__add{
        @include flexDirection(row);
        justify-content: flex-start;
        padding: 20px;
        @include respond-to(mdm) {
            padding: 10px;
        }
        @include respond-to(little){
            padding: 10px;
        }
        &.add_one{
            background: $c3db;
            .add_section_text{
                max-width: 50px;
                color: $cff;
                font-size: $fz22;
                font-weight: $bold;
                text-transform: uppercase;
                display: inline-flex;
                font-family: $assistant;
                margin-right: 10px;
                line-height: 20px;
                @include respond-to(little){
                    max-width: 40px;
                    font-size: 14px;
                    margin-right: 4px;
                }
            }
            .add_section_number{
                font-weight: $medium;
                font-size: $fz78;
                text-transform: uppercase;
                color: $cff;
                font-family: $rubik;
                line-height: 70px;
                @include inlineFlex;
                margin: 0 20px;
                @include respond-to(larage) {
                    font-size: $fz40;
                    margin: 0 10px;
                }
                @include respond-to(mdm) {
                    font-size: $fz32;
                }
                @include respond-to(allsmall){
                    font-size: 36px;
                }
                @include respond-to(little){
                    font-size: 15px;
                    margin: 0 5px;
                }
            }
            .add_section_coupon{
                font-family: $assistant;
                font-weight: $bold;
                font-size: $fz18;
                text-transform: uppercase;
                border: 1px dashed $cff;
                color: $cff;
                padding: 10px 15px;
                @include respond-to(larage) {
                    font-size: $fz14;
                    padding: 10px 10px;
                }
                @include respond-to(mdm) {
                    font-size: $fz14;
                    padding: 10px 10px;
                }
                @include respond-to(little){
                    font-size: 12px;
                    padding: 10px 5px;
                }
                
            }
            .add_section_image{
                img{
                    position: absolute;
                    top: 0;
                    @include respond-to(mdm) {
                        width: 30%;
                    }
                    @include respond-to (allsmall){
                        height: 90px;
                    }
                    @include respond-to(little){
                        height: 53px;
                    }
                }
            }
        }
        &.add_two{
            height: 100%;
            display: flex;
            align-items: center;
            background: $cff;
            h6{
                margin-bottom: 0;
                font-size: $fz18;
                font-weight: $bold;
                color: $c36;
                span{
                    display: block;
                    color: $cf1;
                }
            }
        }
    }
}