.zinimart_toolbar{
    background: $c36;
    &__item{
        padding-left: 15px;
        padding-right: 15px;
        border-left: 1px solid $c4a;
        line-height: 41px;
        @include respond-to(mdm){
            padding-left: 5px;
            padding-right: 5px;
        }
        @include respond-to(little){
            padding-left: 4px;
            padding-right: 5px;
            line-height: 35px;
        }
        .select2-selection--single .select2-selection__rendered{
            color:  $cefe;
        }
        a{
            @extend .zinimart_select;
        }
        &.zinimart_has_dropdown{
            position: relative;
            .zinimart_dropdown{
                position: absolute;
                box-shadow: 0px 3px 5px rgba($c00,.10);
                visibility: hidden;
            }
        }
        .zinimart_select{
            @extend .zinimart_select;
            background:transparent;
            border: none;
            display: inline-flex;
            align-items: center;
        }
        &.zinimart_toolbar__hotline{
            .zinimart_toolbar__hotline_label{
                @include respond-to(allsmall){
                    font-size: 0px;
                }
                @extend .zinimart_select;
                i{
                    font-size: $fz14;
                    
                }
            }
            a{
                font-size: $fz16;
                color: $cf1;
                @include respond-to(mdm){
                    font-size: 11px;
                }
                @include respond-to(allsmall){
                    font-size: 12px;
                }
                @include respond-to(little){
                    font-size: 10px;
                }
            }
        }
        &.zinimart_toolbar_products{

        }
    }
    &__left{
        @include flexDirection(row);
        justify-content: flex-start;
        @include respond-to(allsmall){
            justify-content: center;
        }
        .zinimart_toolbar__item{
           
            &:not(:last-child){

            }
        }
    }
    &__right{
        @include flexDirection(row);
        justify-content: flex-end;
        @include respond-to(allsmall){
            justify-content: center;
        }
        .zinimart_toolbar__item{
            a{
                font-size: 10px;
            }
            &.zinimart_toolbar_products{
                a{
                    font-family: $assistant;
                    font-weight: $bold;
                    font-size: $fz12;
                    text-transform: uppercase;
                    color: $cff;
                    @include respond-to(mdm){
                        font-size: 11px;
                    }
                    @include respond-to(little){
                        font-size: 7px;
                    }
                }
            }
        }
    }
}