.zinimart_best_deal_carousel_images{
    flex:  0 0 70px;
    max-width: 70px;
      .zinimart_image__item{
          img{}
          &:focus{
              border: 1px solid $cf1;
              box-shadow: none !important;
              outline: none !important;
          }
      }
}
.zinimart_best_deal__content_carousel{
    flex: 0 0 calc(100% - 70px);
    max-width: calc(100% - 70px);
    padding-left: 10px;
    margin-bottom: 0;
    .zinimart_dots{
        position: relative;
        left: 140px;
        margin-top: 24px;
        margin-bottom: 0;
    }
    .zinimart_best_deal__content_carousel_item{
        @include flexDirection(row);
        justify-content: space-between;
        display: flex !important;
        .zinimart_best_deal__content_carousel_image{
            @include respond-to(larage) {
                max-width: 40%;
            }
        }
        .zinimart_best_deal__content_carousel_content{
            .zinimart_deals_category{
                @extend .zinimart_deals_category;
            }
            .zinimart_deals_title{
                @extend .zinimart_deals_product_title;
                h5{
                    font-weight: $medium;
                    font-size: $fz18;
                    color: $c6c8;
                    font-family: $rubik;
                    @include respond-to(larage) {
                        font-size: $fz14;
                    }
                }
            }
            .today_deals_product_pricing_supplier{
                @include flexDirection(row);
                justify-content: space-between;
                margin-bottom: 10px;
                .today_deals_product_pricing{
                    @extend .weekly_deals_product_pricing;
                    span{
                        font-size: $fz24;
                        @include respond-to(larage) {
                            font-size: $fz14;
                        }
                    }
                }
                .product_vendors{
                    @extend .product_vendors;
                }
            }
            .zinimart_countdown_parent{
                margin-bottom: 25px;
                @include respond-to(larage) {
                    margin-bottom: 15px;
                }
                .zinimart_parent_label{
                    font-size: $fz13;
                    color: $c63;
                }
                .kounty_countdown{
                    >span{
                        height: 60px;
                        width: 60px;
                        border-radius: 5px;
                        background: $c737;
                        @include inlineFlex;
                        flex-flow: column;
                        font-family: $assistant;
                        font-size: $fz24;
                        font-weight: $bold;
                        color: $cff;
                        @include respond-to(larage) {
                            height: 50px;
                            width: 50px;
                            font-size: $fz14;
                        }
                        span{
                            font-size: $fz13;
                            font-family: $rubik;
                            color: $cff;
                            font-weight: $regular;
                            line-height: $fz13;
                        }
                    }
                }
            }
            .zinimart_product_rating{
                margin-bottom: 7px;
                @include flexDirection(row);
                justify-content: flex-start;
                @include respond-to(larage) {
                    margin-bottom: 0px;
                }
                &__label{
                    color: $c36;
                    font-size: $fz16;
                    font-weight: $bold;
                    display: inline-block;
                    margin-right: 7px;
                }
                i{
                    font-size: $fz16;
                    color: $cfba;
                    text-transform: uppercase;
                }
            }
            .product_cart_range_options{
                .weekly_deals_product_stock_cart{}
                .weekly_deals_product_stock_cart_info{}
            }
        }
    }
}
.zinimart_section_title{
    &.left_align{
        text-align: left;
        margin-bottom: 40px;
        h4{
            &::before{
                width: 100%;
            }
        }
    }
}
.zinimart_today_best_product{
    background: $cff;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
    .zinimart_section_title{
        @extend .zinimart_section_title;
    }
    .zinimart_best_deal_carousel_area{
        @include flexDirection(row);
        align-items: flex-start;
        .zinimart_best_deal_carousel_images{
          @extend .zinimart_best_deal_carousel_images;
        }
        .zinimart_best_deal__content_carousel{
            flex: 0 0 calc(100% - 70px);
            max-width: calc(100% - 70px);
            padding-left: 10px;
            margin-bottom: 0;
            .zinimart_dots{
                position: relative;
                left: 140px;
                margin-top: 24px;
                margin-bottom: 0;
                @include respond-to(little){
                    left: 25%;
                }
            }
            .zinimart_best_deal__content_carousel_item{
                @extend .zinimart_best_deal__content_carousel;
                flex: 0 0 100%;
                max-width: 100%;
                @include respond-to(little){
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                .zinimart_deals_title{
                    h5{
                        @include respond-to(little){
                            font-size: 14px;
                        }
                    }
                }
                .today_deals_product_pricing{
                    span{
                        @include respond-to(little){
                            font-size: 18px;
                        }
                    }
                }
                .kounty_countdown {
                    @include flexDirection(row);
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    >span{
                        margin-bottom: 5px;
                        margin-right: 5px;
                       @include respond-to(little){
                            flex: 0 0 calc(50% - 15px);
                            height: 60px;
                            
                       }
                    }
                }

            }
        }
    }
}