

.has-dropdown{
    position: relative;
    &::after{
        content: "\f107";
        font-family: 'Line Awesome Free';
        font-weight: 700;
        position: absolute;
        right: 10px;
        top: 16px;
        cursor: pointer;
    }
}

  
  @include keyframes(offcanvasvisibility) {
    0% {
      visibility: hidden;
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }
  


.zinimart_offcanvas_navigation{
    height: 100vh;
    width: 100%;
    background: rgba($c00,.70);
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    .zinimart_offcanvas_menu{
        width: 243px;
        height: 100%;
        background: $cff;
        position: relative;
        top: 0;
        left: -100%;
        @include transition(.40s);
        box-shadow: 0px 2px 5px rgba(0,0,0,.30);
        padding: 30px 30px 30px 20px;
    ul{
        padding-left: 0;
        margin-bottom: 0;
        li{
            a{
                font-size: $fz16;
                font-weight: $medium;
                color: $c36;
                font-family: $assistant;
                line-height: 45px;
                border-bottom: 1px solid $ce1e;
                display: block;
            }
            
        }
        .has-dropdown{
            @extend .has-dropdown;
        }
        .sub-menu{
            display: none;
            padding-left: 10px;
        }
    }
        .sub-menu {
            display: none;
            padding-left: 10px;
        }
    }
    &.zinimart_offcanvas_navigation.show{
        // display: block;
        @include animation("offcanvasvisibility .30s linear");
        visibility: visible;
        opacity: 1;
        .zinimart_offcanvas_menu{
            left: 0;
        }
    }
    
    
}