.zinimart_banner {
  background: $cefe;
  padding-top: 30px;
  &.type_2{
      padding-top: 0;
    .zinimart_banner_carousel{
      .slick-arrow{
        position: absolute;
        top: 50%;
        height: 50px;
        width: 50px;
        border: 1px solid $cac;
        background: rgba($cff,.70);
        @include inlineFlex;
        border-radius: 50%;
        cursor: pointer;
        z-index: 99;
        transform: translateY(-50%);
        i{
          font-size: $fz24;
          color: $c36;
        }
        &.slick-prev{
          left: 0;
        }
        &.slick-next{
          right: 0;
        }
      }
      &__item{
       
        .zinimart_banner_carousel_content{
          height: calc(100vh - 130px);
          @include flexDirection(column);
          align-items: flex-start;

          h6{
              text-transform: uppercase;
              color: $c36;
              letter-spacing: 2px;
              margin-bottom: 7px;
          }
          h2{
            color: $c36;
            font-weight: $bold;
            font-family: $assistant;
            margin-bottom: 20px;
          }
          p{
            padding-bottom: 15px;
            font-family: $assistant;
            font-size: $fz16;
            letter-spacing: 1px;
          }
          a{
            @include btn_content(50px, 30px, 14px);
            background: $c50a;
            color: $cff;
            @include inlineFlex;
            flex-flow: row;
            i{
              display: inline-block;
              margin-left: 10px;
            }
          }
          &.dark{
            .zinimart_btn{
              background: $c36;
            }
          }
        }
      }
    }
  }
  &__categories {
    .zinimart_categories_marker {
      background: $cf1;
      @include flexDirection(row);
      padding: 12px 0;
      font-family: $assistant;
      font-size: $fz16;
      font-weight: $bold;
      text-transform: uppercase;
      color: $cff;
      @include respond-to(mdm) {
        font-size: $fz12;
      }
      i {
        font-size: $fz32;
        font-weight: $regular;
      }
    }
    .zinimart_categories_nav {
      background: $cff;

      ul {
        margin: 0;
        padding: 0;
        li {
          @include list;

          &.has_zinimart_dropdown {
            position: relative;
            > a {
              position: relative;
              &::after {
                content: "\f105";
                font-family: "Line Awesome Free";
                font-weight: 700;
                position: absolute;
                right: 0;
                @include respond-to(allsmall) {
                  display: none;
                }
              }
            }
            &.has-dropdown {
              @include respond-to(allsmall) {
                padding-right: 40px;
              }
              &::after {
                display: none;
                @include respond-to(allsmall) {
                  display: block;
                  top: -1px;
                  height: 40px;
                  width: 30px;
                  border: 1px solid #ccc;
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  z-index: 5;
                  background: $c79a7;
                  color: $cff;
                }
              }
            }
            .zinimart_dropdown {
              position: absolute;
              left: calc(100% + 20px);
              width: 250px;
              background: $cff;
              z-index: 5;
              opacity: 0;
              visibility: hidden;
              @include transition(0.3s);
              transform: scale(1.05);
              top: 0;
              @include respond-to(allsmall) {
                visibility: visible;
                opacity: 1;
                left: 0;
                transform: scale(1);
                position: relative;
                display: none;
              }
            }
          }
          a {
            @include list_anchor;
            @include transition(0.3s);
          }
          &:hover {
            > a {
              font-weight: $bold;
              background: $cf7f;
            }
            .zinimart_dropdown {
              visibility: visible;
              opacity: 1;
              left: calc(100% + 0px);
              transform: scale(1);
              @include respond-to(allsmall) {
                opacity: 1;
                left: 0;
                transform: scale(1);
                position: relative;
              }
            }
          }
        }
      }
    }
  }
  &__content {
    background: $c50a;
    height: 100%;
    padding: 30px 30px 0 30px;
    @include flexDirection(column);
    @include respond-to(allsmall) {
      padding: 100px 30px 30px 30px;
    }
    align-items: flex-start;
    .zinimart_banner_cloud {
      position: absolute;
      left: 0;
      top: 0;
      @include respond-to(allsmall) {
        left: 0;
        top: 0;
      }
    }
    h6 {
      color: $cff;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    h2 {
      color: $cff;
      margin-bottom: 10px;
    }
    p {
      color: $cff;
      font-weight: $regular;
      font-family: $rubik;
      font-size: $fz15;
      margin-bottom: 25px;
    }
    .zinimart_btn {
      &.shop_btn {
        @include btn_content(50px, 25px, $fz16);
      }
    }
  }
  &__adds {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    .zinimart_banner__adds_container {
      height: 50%;
      flex: 0 0 50%;
      max-width: 50%;
      padding: 25px;
      h6 {
        font-weight: $bold;
        text-transform: uppercase;
        color: $cff;
      }
      p {
        font-family: $assistant;
        padding-top: 7px;
        color: $cff;
      }
      .zinimart_btn {
        @include btn_content(30px, 20px, 12px);
        margin-top: 15px;
      }
      &.adds_container_one {
        background: $ce2d;
        h6 {
          color: $c36;
        }
        p {
          font-size: $fz14;
          color: $c36;
        }
        .zinimart_btn {
          background: $c737;
          color: $cff;
        }
      }
      &.adds_container_two {
        background: $c8c6;
      }
      &.adds_container_three {
        background: $c2f2;
      }
      &.adds_container_four {
        background: $c1b1;
      }
    }
  }
}
