.zinimart_pagination{
    text-align: center;
    .zinimart_pagination__prev{
        width: 30px;
        height: 35px;
        @include inlineFlex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        border: 1px solid $c36;
        margin-right: 60px;
        @include transition(.40s);
        color: $c36;
    }
    .zinimart_pagination__next{
        @extend .zinimart_pagination__prev;
        margin-left: 60px;
    }
    .zinimart_pagination__item{
        color: $c36;
        font-size: 16px;
        &:not(:last-child){
            margin-right: 12px;
        }
        &.active{
            color: $cf1;
        }
    }
}