.zinimart_breadcrumb{
    border-bottom: 1px solid $ce1e;
    border-top: 1px solid $ce1e;
    padding: 20px 0;
    background: $cff;
    &__inner{
        .zinimart_breadcrumb_menu{
            @include flexDirection(row);
            justify-content: flex-start;
            padding-left: 0;
            margin-bottom: 0;
            @include respond-to(allsmall){
                flex-wrap: wrap;
            }
            li{
                position: relative;
                @include respond-to(allsmall){
                    flex: 0 0 33%;
                }
                &:last-child{
                    @include respond-to(allsmall){
                        margin-left: 0;
                        margin-right: 0;
                        width: 100%;
                        flex: 0 0 100%;
                        margin-top: 10px;
                    }
                }
                &:not(:last-child){
                    margin-right: 30px;
                    &::after{
                        content: "\f054";
                        position: absolute;
                        right: -21px;
                        top: 50%;
                        transform: translateY(-50%);
                        color: $cac;
                        font-family:'Line Awesome Free';
                        font-weight: 700;
                    }
                }
                
                a{
                    margin-right: 0;
                    font-size: $fz13;
                    color: $c63;
                    font-family: $rubik;
                }
                span{
                    color: $cac;
                }
            }
        }
    }
}