@include keyframes(spinner) {
    0% {
      transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
.zinimart_spinner{
    position: fixed;
    top: 70%;
    left: -10px;
    transform: translateY(-50%);
    background:  $cf1;
    border: 1px solid $cf1;
    z-index: 99;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    visibility: hidden;
    @include transition(.40s);
    button{
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: transparent;
        i{
            font-size: $fz32;
            color: $cff;
            display: inline-block;
            @include animation("spinner 1.30s linear infinite");
        }
    }
}