.zinimart_checkout{
    background-color: $cff;
    padding-top: 70px;
    padding-bottom: 70px;
    border-top: 1px solid $ce1e;
    &__billing{

    }
    &__billing_alternative{

    }
    h5{
        color: $c36;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 1.4px;
    }
    form{
        .form-group{
            margin-bottom: 20px;
            label{
                color: $c6c8;
                font-size: $fz16;
                font-weight: $regular;
                font-family: $assistant;
                text-transform: capitalize;
                letter-spacing: 1px;
            }
            .form-control{
                height: 40px;
                width: 100%;
                line-height: 40px;
                padding: 0 0 0 15px;
                border-radius: 0;
                border: 1px solid $ce1e;
                color: $cac;
                font-size: $fz14;
                border-radius: 5px;
                @include transition(.40s);
                &:focus{
                    border-color: $c737;
                }
                select{}
                input{}
            }
        }
    }
}